<div class="formulaire_spip formulaire_configurer formulaire_#FORM">

	<h3 class="titrem"><:liens_rs:cfg_titre_parametrages:></h3>

	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

	<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}

		<div>
			[(#SAISIE{input, lien_rs_facebook,
				label="Lien vers la page Facebook",
				explication="Définir le lien vers la page Facebook"})]
		</div>
		<div>
			[(#SAISIE{input, lien_rs_twitter,
				label="Lien vers la page Twitter",
				explication="Définir le lien vers le compte Twitter"})]
		</div>
		<div>
			[(#SAISIE{input, lien_rs_lkin,
				label="Lien vers la page LinkedIn",
				explication="Définir le lien vers la page LinkedIn"})]
		</div>
		<div>
			[(#SAISIE{input, lien_rs_vimeo,
				label="Lien vers la page Vimeo",
				explication="Définir le lien vers la page Vimeo"})]
		</div>
		<div>
			[(#SAISIE{input, lien_rs_yt,
				label="Lien vers la page YouTube",
				explication="Définir le lien vers la page YouTube"})]
		</div>
		<div>
			[(#SAISIE{input, lien_rs_instagram,
				label="Lien vers la page Instagram",
				explication="Définir le lien vers la page Instagram"})]
		</div>

		<input type="hidden" name="_meta_casier" value="liens_rs" />
		<p class="boutons"><span class="image_loading">&nbsp;</span><input type="submit" class="submit" value="<:bouton_enregistrer:>" /></p>
	</div>
	</form>
</div>